body{
    overflow: hidden;
}
*{
    font-family: sans-serif;
}
.background,
.background2,
.background3,
.background4{
    width: 100vw;
    height: auto;
    position: fixed;
    left: 0;
    top: 0;
}
.background2{
    top: 52.59vw;
}
.background3{
    top: 105.18vw;
}
.background4{
    top: 157.77vw;
}

.box{
    position: relative;
    width: 40vw;
    min-width: 300px;
    height: fit-content;
    min-height: 400px;
    background: linear-gradient(144deg, rgb(208, 253, 255), rgb(243, 253, 255), rgb(206, 253, 255));
    left: 50%;
    transform: translateX(-50%);
    top: 150px;
    z-index: 2;
    border-radius: 30px;
    opacity: 0.8;
    box-shadow: 0 0 5px white;
}

h1{
    position: relative;
    text-align: center;
    font-style: normal;
    font-weight: 800;
    font-family: sans-serif;
    text-shadow: 3px solid black;
    top: 0px;
}

h4{
    text-align: center;
    font-style: italic;
    position: relative;
    cursor: pointer;
}

h3{
    text-align: center;
    position: relative;
    cursor: pointer;
    color: red;
    font-size: 0.9rem;
}
.the_button{
    width: 100%;
    position: relative;
}

.the_button > button{
    position: relative;
    width: 250px;
    height: 40px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
    font-family: sans-serif;
    border-radius: 15px;
    font-weight: 900;
    font-size: 1.2rem;
    color: black;
    background: linear-gradient(144deg, rgb(141, 141, 255), rgb(189, 189, 255), rgb(162, 162, 255));
    box-shadow: 0 0 3px black;
    cursor: pointer;
}

.the_button > button:hover{
    font-size: 1.25rem;
    box-shadow: 0 0 5px;
}

.signup > button:hover{
    font-size: 1.25rem;
    box-shadow: 0 0 5px;
}

a{
    text-decoration: none;
    color: black;
}

.the_input > input{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 15px;
    border: 2px solid black;
    margin-bottom: 10px;
    font-size: 1rem;
    padding: 8px;
}

.back{
    position: absolute;
    left: 15px;
    top: 15px;
    font-size: 2.3rem;
    font-weight: 900;
    cursor: pointer;
}